/* Make the table headers sticky */
.sticky-header {
  position: sticky;
  top: 0; /* Stick it at the top */
  background-color: white; /* Add background for visibility */
  z-index: 10; /* Ensure it stays above the content */
}

/* Add scrolling to the card content */
ion-card-content {
  max-height: 600px; /* Adjust height based on your preference */
  overflow-y: auto; /* Make the content scrollable */
}

ion-row {
  display: flex;
  align-items: center;
}

ion-col {
  padding: 0 10px; /* Optional: Add padding for better visual spacing */
}

ion-card {
  margin-bottom: 10px;
}

ion-label {
  font-weight: bold;
}

/* Assuming this is in your component's CSS file (home.page.scss) */
.highlight-emizero {
  background-color: rgb(205, 197, 197);
  //background-color: rgb(57, 55, 55);
  color: green;  /* or any color you choose */
}

.highlight-negative-payment {
   /* Red background for negative net payment */
  color: green;                 /* White text for contrast */
}

/* Add this to your component's stylesheet */
.interest-message {
  padding: 20px;
  border: 1px solid #dcdcdc;
  border-radius: 8px;
  background-color: #f9f9f9;
}

.interest-message h3 {
  color: #2c3e50;
  text-align: center;
  font-size: 18px;
}

.interest-message p {
  font-size: 16px;
  color: #34495e;
}

.interest-message strong {
  color: green;
}
